<nav>
    <div class="site-title">
        <a href="/"><h1>Blog</h1></a>
        <p>A beautiful site</p>
    </div>
    <ul>
        <li><a href="/">Articles</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/articles/create">New article</a></li>
    </ul>
</nav>